{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <form>
      <div class="row">
        <div class="span4">
          <input type="search" class="input-block-level search-query" placeholder="검색" />
          <a class="close" href="#">&times;</a>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <label class="checkbox">
            <input type="checkbox" /> 완결 웹툰 보이기
          </label>
        </div>
      </div>
    </form>
    {% if series_list %}
      <ul class="nav nav-tabs">
        <li class="active"><a href="#all">전체</a></li>
        <li><a href="#mon">월요일</a></li>
        <li><a href="#tue">화요일</a></li>
        <li><a href="#wed">수요일</a></li>
        <li><a href="#thu">목요일</a></li>
        <li><a href="#fri">금요일</a></li>
        <li><a href="#sat">토요일</a></li>
        <li><a href="#sun">일요일</a></li>
        <li class="empty"><a href="#completed">완결</a></li>
      </ul>
      <div class="tab-content">
        {% for series in series_list %}
          <article id="series-{{ series.id }}" class="media {{ "completed" if series.is_completed }} {{ ' '.join(series.upload_days.split(',')) if not series.is_completed }}">
            <span class="pull-left">
              <img class="media-object lazy" data-original="{{ series.thumbnail_url|via_imgproxy }}" src="/static/img/grey.gif" alt="" width="217" height="165" />
            </span>
            <div class="media-body">
              <header>
                <h1><a class="title" href="{{ naver_url(series.id) }}">{{ series.title }}</a></h1>
                <span class="muted">by <span class="author">{{ series.author }}</span></span>
              </header>
              <p class="description">{{ series.description|safe }}</p>
              <div class="well well-small">
                <ul class="unstyled small muted">
                  <li class="feed-url-wrapper">
                    <i class="icon-bookmark"></i>
                    <input class="feed-url span6" value="{{ url_for('feed_show', series_id=series.id)|externalize }}" readonly="readonly" />
                  </li>
                  <li>
                    <i class="icon-globe"></i>
                    <a href="{{ url_for('feed_show', series_id=series.id)|externalize }}">브라우저에서 보기</a>
                  </li>
                  <li>
                    <i class="icon-plus"></i>
                    <a href="http://www.google.com/reader/view/feed/{{ url_for('feed_show', series_id=series.id)|externalize }}" target="_blank">Google 리더에서 보기</a>
                  </li>
                </ul>
              </div>
            </div>
          </article>
        {% endfor %}
        <p class="no-results">검색 결과가 없습니다.</p>
      </div>
    {% else %}
      <p>구독할 수 있는 웹툰이 없습니다.</p>
    {% endif %}
  </div>
{% endblock %}
