<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>네이버 웹툰 구독</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumgothic.css" />
    {% assets "css_all" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    {% block body %}{% endblock %}
    <script>
      function script_async(src) {
        var node = document.createElement('script');
        node.type = 'text/javascript';
        node.async = true;
        node.src = src;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(node, s);
      }
      {% assets "js_all" %}
        script_async("{{ ASSET_URL }}");
      {% endassets %}
    </script>
  </body>
</html>
