<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>네이버 웹툰 구독</title>
    {% assets "css_all" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% assets "js_all" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
