*.py?
.env
/naverwebtoonfeeds/db/*.db
/naverwebtoonfeeds/db/*.db-journal
pylintrc
/naverwebtoonfeeds/static/gen/
/naverwebtoonfeeds/static/.webassets-cache/
requirements.local.txt
/naverwebtoonfeeds/default_settings.local.py
