# Edit this file and save it as `.env`.
# Make sure it is unreadable by others. Run `chmod 600 .env`.
# For more information, see `naverwebtoonfeeds/config/__init__.py`.

NWF_ENV=production

# Required
URL_ROOT=http://example.com
AUTHORITY_NAME=yourdomain.com
SQLALCHEMY_DATABASE_URI=mysql://uesr:pass@example.com/dbname

# Never enable debug mode in production servers!
DEBUG=False

# Change the port to listen when running with Gunicorn.
# Not applied to runserver command of manage.py; use -p option instead.
PORT=8080

# Enable gzip compression.
GZIP=True

# Use far-future Expires header (1 year)
SEND_FILE_MAX_AGE_DEFAULT=31536000

# If enabled, requests from different hosts other than URL_ROOT will be
# redirected to the corresponding canonical URL.
FORCE_REDIRECT=True

# Cache settings
CACHE_KEY_PREFIX=naverwebtoonfeeds:
CACHE_TYPE=redis
CACHE_REDIS_HOST=localhost
CACHE_REDIS_PASSWORD=password
CACHE_REDIS_PORT=6379

ENABLE_CACHE_COMPRESSION=True

# Run background workers with Redis Queue.
USE_REDIS_QUEUE=False

# Save your money by running the worker process only when needed.
REDIS_QUEUE_BURST_MODE_IN_HEROKU=True
HEROKU_API_KEY=
HEROKU_APP_NAME=

# Naver login information is needed to access some adult-only series.
NAVER_USERNAME=
NAVER_PASSWORD=

# Log level for console.
LOG_LEVEL=WARNING

# Send emails to admins when errors occur.
MAIL_TOADDRS=[admin@example.com]

# Gmail account is needed to send emails.
GMAIL_USERNAME=

# Application-specific password, not account password
GMAIL_PASSWORD=
