include Makefile LICENSE README.rst requirements.txt runtime.txt Procfile Gemfile Gemfile.lock package.json pylintrc env.template manage.py
recursive-include docs *
recursive-include tests *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-exclude tests *.pyc
recursive-exclude tests *.pyo
recursive-exclude * *.swp
recursive-exclude * *.db
recursive-exclude * *.db-journal
prune docs/_build
prune docs/_themes/.git
