include Makefile LICENSE README.rst requirements.txt dev-requirements.txt pylintrc
recursive-include docs *
recursive-include test *
recursive-include naverwebtoonfeeds/static *
recursive-include naverwebtoonfeeds/templates *
recursive-include naverwebtoonfeeds/feeds/templates *
