BeautifulSoup==3.2.1
Flask==0.9
Flask-Assets==0.8
Flask-Cache==0.9.2
Flask-SQLAlchemy==0.16
Flask-Script==0.5.1
Flask-gzip==0.1
Jinja2==2.6
Logbook==0.4.1
MySQL-python==1.2.4
SQLAlchemy==0.8.0b2
Werkzeug==0.8.3
argparse==1.2.1
gunicorn==0.16.1
ipython==0.13.1
lxml==3.1beta1
python-dateutil==2.1
pytz==2012h
redis==2.7.2
requests==1.0.2
rq==0.3.2
six==1.2.0
times==0.6
webassets==0.8
wsgiref==0.1.2
yuicompressor==2.4.7
