# Flask
Flask==0.9
Werkzeug==0.8.3
Jinja2==2.6

# Flask extensions
Flask-SQLAlchemy==0.16
SQLAlchemy==0.8.0b2
Flask-Cache==0.10.1
Flask-Script==0.5.3
Flask-Assets==0.8
webassets==0.8
Flask-gzip==0.1

# Web page fetching and parsing
requests==1.1.0
lxml==3.1beta1
BeautifulSoup==3.2.1

# Others
pytz==2012j
yuicompressor==2.4.7
nose==1.2.1

#
# Deployment-specific
#
MySQL-python==1.2.4
redis==2.7.2
rq==0.3.3
times==0.6
python-dateutil==2.1
six==1.2.0
gunicorn==0.17.2
heroku==0.1.2

#
# Development
#
yolk==0.4.3
ipython==0.13.1
pylint==0.26.0
logilab-common==0.58.3
logilab-astng==0.24.1

