@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  font-family: "Nanum Gothic", sans-serif;
  margin: 0 auto;
  padding: 0;
}

.clear {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent !important;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.icon-google-reader {
  background: url(http://www.google.com/reader/ui/favicon.ico) no-repeat center;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 1px;
}

ul.feeds {
  list-style-type: none;
  margin: 4px 0 0 2px;
  padding: 0;
  }
  ul.feeds li {
    position: relative;
    float: left;
    margin: 0 2px 4px 0;
    }
    ul.feeds li a {
      color: #666;
      text-decoration: none;
    }
    ul.feeds li .thumbnail {
      width: 217px;
      height: 165px;
      margin-bottom: 2px;
    }
    ul.feeds li .text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 217px;
      height: 2.5em;
    }
    ul.feeds li .links {
      position: absolute;
      bottom: 0;
      right: 3px;
    }
