@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.small {
  font-size: 87.5%;
}

body, input, button {
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  margin: 20px 0 30px;
}

header {
  display: block;
  margin-bottom: 10px;
}

header h1 {
  font-size: 1.5em;
  display: inline;
  margin: 0;
  line-height: normal;
}

header h1 a {
  color: inherit;
}

header h1 a:hover {
  color: inherit;
  text-decoration: none;
}

.media p {
  margin-bottom: 15px;
}

.media .small i + a {
  position: relative;
  top: 1px;
}

.media .well {
  margin-bottom: 0;
}

.media .well .unstyled {
  margin-bottom: 0;
}

input.feed-url {
  color: inherit;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  display: inline;
  cursor: default;
  font-size: inherit;
  width: 100%;
  min-height: 0;
}

.feed-url-wrapper {
  white-space: nowrap;
  overflow: hidden;
}

.filtered .media {
  display: none;
}

.filtered .media.show {
  display: block;
}

.form-search .span4 {
  position: relative;
}

.form-search .search-query {
  box-sizing: border-box;
}

.form-search .close {
  position: absolute;
  top: 5px;
  right: 10px;
}

.nav {
  margin-bottom: 0;
}

.media:first-child {
  margin-top: 15px;
}
